{% extends 'base.html' %}

{% block title %}
Building
{% endblock title %}


{% block main %}
<h1>{{ building.Adress }}</h1>
{% for toolbox in building.toolboxes.all %}
<ul>
    <li><h2>Tool box number:{{ toolbox.id }}</h2>
        {% if toolbox.rent_status == 'A' %} 
            <p>The tool box is kept until</p>
    	    <p>{{ toolbox.Avaiable_date }}</p>    
        {% else %}
            <p>The toolbox avaible to book</p>   
        {% endif %}

    </li>
</ul>   
 
{% endfor %}
       
{% endblock main %}
    